* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  min-height: 100vh;
}

.topbarContainer {
  height: 50px;
  background: #ffffff;
  padding: 10px 20px;
  /* display: flex;
  flex-direction: row; */
  align-items: center;
  border: 10px solid #000000;
  /* position: fixed;
  left: 92px;
  right: 20px;
  top: 0px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
}

.sidebarContainer {
    width: 50px;
    background: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border: 10px solid rgb(0, 0, 0);
    position: fixed;
    left: 20px;
    top: 86px;
    bottom: 20px;
    border-radius: 16px;

}

.newContainer {
  width: 200px;
  background: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border: 10px solid rgb(0, 0, 0);
  position: fixed;
  left: 92px;
  right: 20px;
  top: 86px;
  bottom: 20px;
  border-radius: 16px;
  overflow-y: auto;
  column-count: 3;
  column-gap: 20px;
  column-fill: auto;
}


  .futureContainer {
    width: 50px;
    background: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  }
